*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
    color: white;

    font-family: sans-serif;
}
/* imposto la serie di webcam con il display flex */
#top-bar{
    position: fixed;
    top: 0;
    right: 0;

    padding: 8px;
}
/* uso wrap per farle tornare a capo */
#webcams{
    display: flex;
    flex-wrap: wrap;
    gap: 15px 6px;
    justify-content: center;

    align-items: center;
    align-content: flex-start;

    padding: 85px 20px;
    padding-bottom: calc(100px + 30px);

}

#webcams .webcam {
    position: relative;

    width: 254px;
    height: 150px;
}

#webcams .webcam span{
    position: absolute;

    bottom: 0;
    left: 0;

    padding: 6px;

    background-color: rgba(0, 0, 0, 0.4);
}
