*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
    color: white;

    font-family: sans-serif;
}

#top-bar{
    position: fixed;
    top: 0;
    right: 0;

    padding: 8px;
}

#webcams{
    display: flex;
    flex-wrap: wrap;
    gap: 15px 6px;
    justify-content: center;

    align-items: center;
    align-content: flex-start;

    padding: 85px 20px;
    padding-bottom: calc(100px + 30px);

}

#webcams .webcam {
    position: relative;

    width: 254px;
    height: 150px;
}

#webcams .webcam span{
    position: absolute;

    bottom: 0;
    left: 0;

    padding: 6px;

    background-color: rgba(0, 0, 0, 0.4);
}


/* bottom-bar */


#bottom-bar {
    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;    
    left: 0;

    width: 100%;

    background-color: #222222;
}




#bottom-bar .bottom-bar-left,
#bottom-bar .bottom-bar-center,
#bottom-bar .bottom-bar-right {
    display: flex;
    gap: 10px;
}


#bottom-bar .bottom-bar-right .end-meeting {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: #4a4a4a;
    color: red;

    padding: 32px 20px;
}



/*  inserisco buttons */

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: relative;

    height: 100%;

    padding: 8px 10px;

    border-radius: 8px;
}

.button:hover {
    background-color: #4a4c4d;
}


.button .icon {
    font-size: 32px;
}

.button.more {
    padding-right: 30px;

}

.button.more::after {
    

    position: absolute;
    right: 10px;

    font-family: 'FontAwesome';
    font-size: 10px;
    
}

.button.active .icon {
    color: #4bc800;
    
}
